
<h2>Global Admin Page</h2>
<!--TODO: correct operations to buttons (Manage, Assign, Help)-->
<div class="btn-group">
  <link rel="stylesheet" href="adminviews.css">
  <button>Manage User Accounts</button>
  <button>Assign Roles</button>
  <button>Help Desk</button>
</div>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        Username: {{user.username}}<br/>
        Name: {{user.firstName}} {{user.lastName}}<br/>
        Role: {{user.userRole}}<br/>
        <!--Testing but will move to buttons on the top-->
        -- <a ng-click="vm.deleteUser(user.id)">Delete</a><br/>
        - <select ng-model="selectedRole"><option ng-repeat="x in role" value="{{x}}">{{x}}</option></select><br/>
        Click button to confirm role:
        <button ng-click="vm.setCurrentRole(user.id, {{selectedRole}})">{{selectedRole}}</button><br/><br/>
      </li>
</ul>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>

<p><a href="#!/admin" class="btn btn-primary">Admin</a></p>
<p><a href="#!/engineering" class="btn btn-primary">Engineering</a></p>
<p><a href="#!/human" class="btn btn-primary">HR</a></p>
<p><a href="#!/finance" class="btn btn-primary">Finance</a></p>
<p><a href="#!/sales" class="btn btn-primary">Sales</a></p>
